telegram-rag-agent.json
{
  "name": "telegram-rag-agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "53df932e-9e60-45a1-aea6-7ad196ed1f48",
      "name": "Telegram Trigger",
      "webhookId": "9624ec21-3b96-476f-a8cc-3632e7e9df36",
      "credentials": {
        "telegramApi": {
          "id": "2dEAb1mjxKd10vSy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "7334ff6a-9656-4513-a0fc-d17abedc709b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "44fa8240-5ef6-4788-9f59-f3c4593b93f6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P3kCCDP4qvXMD13g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Usa esta herramienta siempre que te pregunten información específica sobre el documento, el currículum o los datos almacenados",
        "pineconeIndex": {
          "__rl": true,
          "value": "mi-proyecto-rag2",
          "mode": "list",
          "cachedResultName": "mi-proyecto-rag2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        160
      ],
      "id": "e2062df9-06d1-413c-8c8f-10cc9d3a71e9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "oHidCNdu6HHQxULG",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        336
      ],
      "id": "4f7f5f00-cfcd-4b00-aeed-ff14dde4275c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "P3kCCDP4qvXMD13g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        288,
        256
      ],
      "id": "5a0e33c5-41b1-4cc4-a64d-c1b049d90cb2",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b4990d75-b8e9-4335-a9b9-516bfeb102a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a09eaa6e46ed3dc7fc692a91015d5d035e6fd7d1f25d9fc66b43eec3e49a6c4"
  },
  "nodeGroups": [],
  "id": "yIdqMQxxaarrgKSF",
  "tags": []
}